@{
    ViewData["Title"] = "About";
}

<div class="row" style="padding:12px;">
    <div class="col-md-6 col-md-offset-3">
        <img src="~/images/Logo_DDC_2016-1024x241.png" alt="" width="100%">
    </div>
</div>

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h4>@ViewData["OSDescription"]</h4>



<p>Use this area to provide additional information.</p>
